@page "/adminlogin"
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject MyCustomAuthStateProvider? MyAuthStateProvider
@using Friends_of_Award_FS_Lib
@using Microsoft.AspNetCore.Components.Authorization
@using Blazor_WithAuth_ForSWP5
@using System.Security.Cryptography

<PageTitle>AdminLogin</PageTitle>
<h3>Admin Login</h3>

<div>
    <input @bind="email" placeholder="E-Mail" />
</div>

<div style="margin-top:10px">
    <input @bind="password" type="password" placeholder="Passwort" class="form-control" />
</div>

<div style="margin-top:10px">
    <button @onclick="Btn_Login">Login</button>
</div>

@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}


@code{
    private string email;
    private string password;
    private string error = "";


    private async Task Btn_Login()
    {
        bool isAdmin = false;

        if(string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(password))
        {
            error = "Email und Passwort muss ausgefüllt sein!";
            return;
        }

        Admin admin = new(email, password);
        isAdmin = admin.CheckAdminLoginData();

        if (isAdmin)
        {
            await((MyCustomAuthStateProvider)MyAuthStateProvider)
                .LoginAsync(email, "Admin");

            Nav.NavigateTo("/admin");
        }
        else
        {
            error = "Login fehlgeschlagen. E-Mail oder Passwort falsch.";
        }
    }
}
