@page "/admin"
@using Blazor_WithAuth_ForSWP5
@inject NavigationManager Nav
@inject MyCustomAuthStateProvider? AuthStateProvider
@using Microsoft.AspNetCore.Components.Authorization

<h3>🔐 Admin Bereich</h3>

<p>Willkommen im Admin-Bereich, @username!</p>

<button @onclick="Logout">
    Logout
</button>

@code {
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Unberechtigter Aufruf der ADmin-Page abfangen
        if (!user.Identity?.IsAuthenticated ?? false ||
            !user.IsInRole("Admin"))
        {
            Nav.NavigateTo("/adminlogin");
            return;
        }

        username = user.Identity?.Name;
    }

    private async Task Logout()
    {
        await AuthStateProvider.LogoutAsync();
        Nav.NavigateTo("/");
    }
}