@page "/admin"
@rendermode InteractiveServer
@using Blazor_WithAuth_ForSWP5
@inject NavigationManager MyNavMgr
@inject MyCustomAuthStateProvider? MyAuthStateProvider
@using Friends_of_Award_FS_Lib
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Cryptography
@using QRCoder

<AuthorizeView>
    <Authorized>
        @{
            // ja, man kann hier direkt C#-Code einfügen
            string name = "unknown";
            if (context.User.Identity != null)
                name = $"{context.User.Identity.Name}";
        }
        <h3>🔐 Admin Bereich</h3>
        <p>Willkommen im Admin-Bereich, @name!</p>

        <form>
            <p>
                <input type="number" @bind="qrCodeCount" />
            </p>
            <p>
                <button type="button" @onclick="Btn_GenerateQrCodes">
                    Generate
                </button>
            </p>
        </form>

        @if (generatedQrCodes.Count > 0)
        {
            <h4>Generierte QR-Codes</h4>

            @foreach (var qr in generatedQrCodes)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(qr)"
                     style="margin:10px; width:200px;" />
            }
        }

        <button @onclick="Logout">Logout</button>
    </Authorized>

    <NotAuthorized>
        <p>Weiterleitung...</p>
    </NotAuthorized>
</AuthorizeView>




@code {
    private string? username = "";
    private int qrCodeCount = -1;
    private List<byte[]> generatedQrCodes = new();


    private void Btn_GenerateQrCodes()
    {
        generatedQrCodes.Clear();

        if (qrCodeCount <= 0)
            return;

        for (int i = 0; i < qrCodeCount; i++)
        {
            string token = Token.GenerateToken();

            // Token in DB speichern
            bool saved = Token.SaveTokenToDatabase(token);
            if (!saved)
                continue;

            string baseUrl = MyNavMgr.BaseUri.TrimEnd('/');
            string qrValue = $"{baseUrl}/qr-login?token={token}";

            using var qrGenerator = new QRCodeGenerator();
            var qrData = qrGenerator.CreateQrCode(qrValue, QRCodeGenerator.ECCLevel.Q);
            var qrCode = new PngByteQRCode(qrData);

            byte[] qrImage = qrCode.GetGraphic(3);

            generatedQrCodes.Add(qrImage);
        }
        StateHasChanged();
    }


    private void Logout()
    {
        MyAuthStateProvider.Logout();
        MyNavMgr.NavigateTo("/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var state = await MyAuthStateProvider.GetAuthenticationStateAsync();
            var user = state.User;

            if (!user.Identity.IsAuthenticated)
            {
                MyNavMgr.NavigateTo("/adminlogin", true);
            }
        }
    }
}