@page "/admin"
@rendermode InteractiveServer
@using Blazor_WithAuth_ForSWP5
@inject NavigationManager MyNavMgr
@inject MyCustomAuthStateProvider? MyAuthStateProvider
@using Friends_of_Award_FS_Lib
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Cryptography
@using QRCoder

<AuthorizeView>
    <Authorized>
        @{
            // ja, man kann hier direkt C#-Code einfügen
            string name = "unknown";
            if (context.User.Identity != null)
                name = $"{context.User.Identity.Name}";
        }
        <div class="admin-wrapper">
            <div class="admin-card">
                <h3>🔐 Admin Bereich</h3>
                <p class="welcome">
                    Willkommen im Admin-Bereich, <strong>@name</strong>!
                </p>

                <form class="admin-form">
                    <label>
                        Anzahl QR-Codes
                        <input type="number" @bind="qrCodeCount" />
                    </label>

                    <button type="button" @onclick="Btn_GenerateQrCodes">
                        Generate
                    </button>
                </form>

                @if(!string.IsNullOrWhiteSpace(message))
                {
                    <p class="message">@message</p>
                }

                <button type="button" @onclick="Btn_NavToQrCodes">
                    View QR-Codes
                </button>

                <button class="logout-btn" @onclick="Logout">
                    Logout
                </button>
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <p>Weiterleitung...</p>
    </NotAuthorized>
</AuthorizeView>




@code {
    private string? username = "";
    private int qrCodeCount = 0;
    private string message = "";
    int errorCount = 0;


    private void Btn_GenerateQrCodes()
    {
        if (qrCodeCount <= 0)
            return;

        for (int i = 0; i < qrCodeCount; i++)
        {
            string token = Token.GenerateToken();

            // Token in DB speichern
            bool saved = Token.SaveTokenToDatabase(token);
            if (!saved)
            {
                errorCount++;
                message = $"{errorCount}/{qrCodeCount} QR-Code Generations failed.";
                continue;
            }
        }
        if(errorCount == 0)
        {
            message = $"{qrCodeCount} QR-Codes have been generated";
        }
    }

    private void Btn_NavToQrCodes()
    {
        MyNavMgr.NavigateTo("/qrcodes");
    }

    private void Logout()
    {
        MyAuthStateProvider.Logout();
        MyNavMgr.NavigateTo("/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var state = await MyAuthStateProvider.GetAuthenticationStateAsync();
            var user = state.User;

            if (!user.Identity.IsAuthenticated)
            {
                MyNavMgr.NavigateTo("/adminlogin", true);
            }
        }
    }
}